<p>parent works!</p>
<app-child
  [inSource]="outsource()"
  [(towWay)]="sendToTwoWay"
  (changeName)="logChangedName($event)"
>
  <p @if(true) style="color: red">projected content 1</p>
</app-child>

<app-child [inSource]="outsource()"
  ><p id="par" style="color: red">projected content 2</p></app-child
>

<!-- after next and every render -->
<div>
  <p>Data: {{ data }}</p>
  <button (click)="updateData()">Update Data</button>
  <div>Render count: {{ renderCount }}</div>
</div>
<!-- after next and every render -->
